@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded Medium'),
    url('SF-Pro-Rounded-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded Heavy'),
    url('SF-Pro-Rounded-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded Thin'),
    url('SF-Pro-Rounded-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded Light'),
    url('SF-Pro-Rounded-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded Bold'),
    url('SF-Pro-Rounded-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded Black'),
    url('SF-Pro-Rounded-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded Ultralight'),
    url('SF-Pro-Rounded-Ultralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded Semibold'),
    url('SF-Pro-Rounded-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src:
    local('SF Pro Rounded'),
    local('SF Pro Rounded Regular'),
    url('SF-Pro-Rounded-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
